:root {
  --ratio: 1.4;
  --font-plain: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  --font-special: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New";
  --color-dark: #1c1c1c;
  --color-white: #eeeeee;
  --thumbnail-image-url: "";

  line-height: var(--ratio);
  font-size: 100%;
  font-family: var(--font-plain);
  background-color: var(--color-dark);
  color: var(--color-white);
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--thumbnail-image-url);
    /* background-color: #cacccb; */
    will-change: filter;
  }

  &.js-thumbnail-ready {
    &::before {
      animation: blur 5s linear forwards;
    }
  }

  &.js-in-app {
    & #progress-value {
      color: #ffffffc9;

      &::after {
        color: #ffffff94;
      }
    }

    & #progress-desc {
      color: #ffffff94;
    }
  }
}

@keyframes blur {
  to {
    filter: blur(6px) brightness(50%);
  }
}

#waveform {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 0;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

#url-form {
  max-width: 600px;
  font-size: 20px;
  transition: opacity 0.3s;
  opacity: 1;
  position: absolute;

  &.js-hide {
    animation: 0.3s fadeOut;
    animation-fill-mode: forwards;
  }
}

.url-field {
  margin-top: 0.6em;
  border-radius: 0.5em;
  padding: 0 0.5em;
  font-size: 1.1em;
  height: 3.5em;
  margin-bottom: 2em;
  color: var(--color-white);
  background-color: #333333;

  &:not(:placeholder-shown):not(:focus):invalid {
    outline: solid 0.2em #ff5454;
  }

  &::placeholder {
    color: #eeeeee75;
  }
}

.url-label {
  font-size: 0.9em;
  font-weight: 600;
  color: #ffffffa8;
}

.url-submit-btn {
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 1.5em;
  padding: 0.7em 1em;
  background-color: #e3e850;
  color: #1c1c1ce6;

  &:active {
    /* background: #cacccb;
    box-shadow: inset 7px 7px 14px #acadad, inset -7px -7px 14px #e8ebe9; */
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

#mini-url-form {
  font-size: 0.85rem;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  transition: opacity 0.5s;
  transition-delay: 0.7s;

  &.js-show {
    opacity: 1;
    visibility: visible;
  }

  & .url-submit-btn {
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    box-shadow: none;
    height: 100%;

    & svg {
      vertical-align: middle;
      fill: #e7ebeef0;
    }
  }

  & .url-field {
    margin: 0;
    border-radius: 3.5em;
    padding-right: 60px;
    padding-left: 20px;
    background-color: #26262633;
    color: #ffffffed;
    border: 1px solid #b2b2c654;
  }
}

#title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #dbbebe2b;
  padding: 1rem;
  max-width: 60%;
  line-height: 1.7;

  & span {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    background-color: #6d56567d;
    color: #ffc587a1;
    padding: 0.07em 0.25em;

    &.js-show {
      transition-delay: 2s;
      opacity: 1;
      visibility: visible;
    }
  }
}

#progress {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  position: absolute;
  top: 20%;
  transition: color 0.5s;
  width: 100%;

  &.js-show {
    animation: 0.3s fadeIn;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }

  & span {
    position: absolute;
    top: 0;
    right: 0;
  }
}

#progress-value {
  font-size: 7rem;
  font-family: var(--font-special);
  min-height: 168px;
  position: relative;
  transition: color 4s;
  background-image: linear-gradient(45deg, #009fff, #00ffdb 45%, #1c1c1ce6);
  color: #00ffdb;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;

  &::after {
    content: "%";
    position: absolute;
    top: 0.6em;
    right: -2.5em;
    font-size: 2.5rem;
    transition: color 4s;
    background-image: linear-gradient(45deg, #1c1c1c, 15%, #818181);
    color: #256af3;
    color: #858585;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

#progress-desc {
  transition: color 4s;
  font-size: 3rem;
  font-weight: 600;
  min-height: 72px;
}

.error-desc {
  font-size: 0.65em;
  color: #8b8b8b;
  margin-top: 0.4em;
}

input {
  width: 100%;
  font-style: normal;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  position: relative;
  display: inline-block;
  font-style: normal;
  border: 0;
  background-color: transparent;
  white-space: nowrap;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  /* transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) padding; */

  /* &:disabled {
    color: grey;
    background-color: #ddd;
  } */
}

#download-sample-form {
  position: absolute;
  bottom: 12%;
  display: flex;
  font-size: 1.4rem;
}

.download-sample-input-field {
  background: #ffffff36;
  padding: 0.2em 1em;
  border-radius: 0.3em;
  color: #fff;
  margin-right: 0.35em;
}

.download-sample-btn {
  color: #fff;
  border-radius: 0.3em;
  padding: 0.2em 0.9em;
  border: 0.1em solid #fffc;
  box-shadow: 0 0 0.1em #fff, 0 0.1em 0.2em #bc13fe, -0.1em 0.05em 1.5em #bc13fe,
    inset 0 0 1.3em #bc13fe;

  & span {
    animation: pulsate 0.11s ease-in-out infinite alternate;
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 0.05em #fff, 0 0 0.1em #fff, 0 0 0.2em #ff00bf,
      0 0 0.3em #ff00bf, 0 0 0.5em #f09, 0 0 0.8em #f09;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow: 0 0 0.04em #fff, 0 0 0.05em #fff, 0 0 0.17em #ff00bf,
      0 0 0.27em #ff00bf, 0 0 0.5em #f09, 0 0 0.3em #f09;
  }
}
