:root {
  --ratio: 1.4;
  --font-plain: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  --font-special: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New";
  --color-dark: #1c1c1c;
  --color-white: #eee;
  --thumbnail-image-url: "";

  line-height: var(--ratio);
  font-size: 100%;
  font-weight: 600;
  font-family: var(--font-plain);
  background-color: var(--color-dark);
  color: var(--color-white);
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--thumbnail-image-url);
    will-change: filter;
  }

  &.js-thumbnail-ready {
    &::before {
      animation: blur 5s linear forwards;
    }
  }
}

@keyframes blur {
  to {
    filter: blur(6px) brightness(50%);
  }
}

header {
  margin-bottom: 6rem;

  & svg {
    border-radius: 100%;
  }

  & h1 {
    font-style: italic;
    font-size: 2.6rem;
  }

  & h2 {
    font-size: 1.2rem;
    color: #ffffff7d;
  }
}

#waveform {
  position: absolute;
  left: 0;
  width: 100%;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;

  &.js-show {
    opacity: 1;
    visibility: visible;
  }
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

#url-form {
  max-width: 34rem;
  font-size: 1.2rem;
  width: 100%;
  transition: opacity 0.3s;
  opacity: 1;
  position: absolute;
  text-align: center;

  &.js-hide {
    animation: 0.3s fadeOut;
    animation-fill-mode: forwards;
  }

  & label {
    font-size: 0.9em;
    color: #ffffffa8;
    display: block;
    margin-bottom: 0.6em;
  }

  & button {
    font-size: 1.1em;
    border-radius: 1.5em;
    padding: 0.7em 1em;
    background-color: #e3e850;
    color: #1c1c1ce6;
  }

  & input {
    border-radius: 0.5em;
    padding: 0 0.5em;
    font-size: 1.1em;
    height: 3.5em;
    margin-bottom: 1.5em;
    color: var(--color-white);
    background-color: #333;

    &:not(:placeholder-shown):not(:focus):invalid {
      outline: solid 0.2em #ff5454;
    }

    &::placeholder {
      color: #eeeeee75;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

#mini-url-form {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.9rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.7s;
  background: transparent;

  &.js-show {
    opacity: 1;
    visibility: visible;
  }

  & button {
    position: absolute;
    right: 1em;
    top: 0;
    height: 100%;

    & svg {
      vertical-align: middle;
      fill: #eeeeeec4;
    }
  }

  & input {
    height: 3.15em;
    border-radius: 3.15em;
    padding-right: 3.5em;
    padding-left: 1.5em;
    background-color: #26262645;
    border: 1px solid #e3e3e340;

    &::placeholder {
      color: #ccc;
    }
  }
}

#title {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 1.4rem;
  max-width: 55%;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s;
  color: #d19b60;
  text-shadow: 1px 2px 0px black;

  &.js-show {
    transition-delay: 5s;
    opacity: 1;
    visibility: visible;
  }
}

#progress {
  position: absolute;
  top: 23%;
  width: 100%;
  text-align: center;
  visibility: hidden;
  transition: color 0.5s;
  background: transparent;

  &.js-show {
    animation: 0.3s fadeIn;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }

  & span {
    color: #ccc;
  }
}

#progress-value {
  font-size: 7rem;
  font-family: var(--font-special);
  min-height: 168px;
  position: relative;
  transition: color 4s;
  background-image: linear-gradient(45deg, #fff670, #fd93d3 45%, #231dd9);
  color: #fff670;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
}

#progress-desc {
  transition: color 4s;
  font-size: 2.3rem;
  font-weight: 600;
}

.error-desc {
  font-size: 0.7em;
  color: #ffffffa6;
  margin-top: 0.4em;
  margin-bottom: 1em;
}

details {
  font-size: 1rem;
  color: #ff6363;
  text-align: left;
  padding: 1em;
}

#download-sample-form {
  position: absolute;
  display: flex;
  bottom: 10%;
  font-size: 1.3rem;
  background-color: transparent;

  & input {
    background: #ffffff36;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    color: #fff;
    margin-right: 0.35em;

    &::placeholder {
      color: #ddd;
    }
  }

  & button {
    color: #fff;
    border-radius: 0.3em;
    padding: 0.4em 0.9em;
    border: 0.1em solid #fffc;
    box-shadow: 0 0em 0.2em #fe13c3cc, -0.1em 0.1em 1.1em #bc13fe,
      inset 0 0 1.2em #bc13fe;

    & span {
      animation: pulsate 0.1s ease-in-out infinite alternate;
    }
  }
}

@media (prefers-reduced-motion) {
  #download-sample-form span {
    animation: none;
  }
}

@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #ff00bf, 0 0 0.3em #ff00bf,
      0 0 0.5em #f09, 0 0 0.9em #f09;
  }
  0% {
    /* A slightly smaller blur radius */
    text-shadow: 0 0 0.06em #fff, 0 0 0.18em #ff00bf, 0 0 0.28em #ff00bf,
      0 0 0.5em #f09, 0 0 0.4em #f09;
  }
}
